@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --main-darklg: #240077;
    --main-dark: #1a0134;
    --primary-color: #ae5106;
    --main-light: #eeeeee;
    font-family: “Poppins”, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* #region Web Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 100%;
    background-color: var(--main-darklg);
}

.logo {
    height: 100%;
}

.logo img {
    max-height: 100%;
}

/* #endregion */

/* #region Web Body */
.main {
    overflow: hidden;
    height: 100%;
    display: flex;
}

/* #endregion */

/* #region Web Body Left */
.main__left {
    flex: 0.7;
    display: flex;
    flex-direction: column;
}

/* #endregion */
/* #region Cameras */
.videos__group {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--main-dark);
}

video {
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

#video-grid {
    display: flex;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

.cell {
    position: relative;
    width: 100%;
}

.cell_header {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.638);
    z-index: 9;
    padding: 1em;
    color: #fff;
    justify-content: space-between;
    border-radius: 1rem 1rem 0 0;
}

.cell_playername {
    position: relative;
    width: 60%;
    height: 40%;
    padding: 5px;
    border: none;
    font-weight: bold;
    color: rgb(107, 2, 213);
    background-color: transparent;
    font-size: 22px;
    text-align: left;
}

.cell_commander {
    position: relative;
    width: 60%;
    height: 40%;
    padding: 5px;
    border: none;
    font-weight: bold;
    color: rgba(70, 181, 222, 0.826);
    background-color: transparent;
    font-size: 16px;
    text-align: left;
}

.cell_playerlife {
    width: 30%;
    height: 40%;
    padding: 5px;
    border: none;
    font-weight: bold;
    color: rgb(107, 2, 213);
    background-color: transparent;
    font-size: 22px;
    text-align: left;
}

.cell_playerlife .cell_playerlife_value {
    position: relative;
    width: 60%;
    height: 100%;
    padding: 0;
    border: none;
    font-weight: bold;
    background-color: transparent;
    color: #fff;
    font-size: 26px;
    text-align: center;
}

.cell_playerlife_value-red {
    color: red !important;
}

.cell_playerlife_value-yellow {
    color: yellow !important;
}

.cell_playerlife_value-white {
    color: white !important;
}

.cell_playerlife_value-green {
    color: rgb(3, 197, 39) !important;
}

.death-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: red;
    font-size: 3rem;
    font-weight: bold;
    width: 640px;
    height: 360px;
}

.options {
    padding: 1rem;
    display: flex;
    background-color: var(--main-darklg);
}

.options__left {
    display: flex;
}

.options__right {
    margin-left: auto;
}

.options__button {
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    height: 50px;
    border-radius: 5px;
    color: var(--main-light);
    font-size: 1.2rem;
    width: 50px;
    margin: 0 0.5rem;
    cursor: pointer;
}

.options__button.active {
    opacity: 1;
}

.background__red {
    background-color: #f6484a;
}

/* #endregion */

/* #region Web Right */
.main__right {
    flex: 0.3;
    background-color: #242f41;
}

.main__chat_window {
    flex-grow: 1;
}

.main__message_container {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__message_container>input {
    height: 50px;
    flex: 1;
    border-radius: 5px;
    padding-left: 20px;
    border: none;
}

.placeholder {
    width: 640px;
    height: 360px;
}

.content {
    position: relative;
  }
  
  .main__right {
    position: relative;
    padding-left: 20px;
    /* Add some padding to the left to make room for the button */
    width: auto;
    /* set initial height */
    transition: height 0.3s ease;
    /* add transition for smooth animation */
  }
  
  .collapse-btn {
    position: absolute;
    top: 0;
    left: -20px;
    /* Position the button to the left of main__right */
    width: 20px;
    /* Set the width of the button */
    height: 20px;
    /* Set the height of the button */
    border: none;
    background-color: #ccc;
    cursor: pointer;
    transform: rotate(-90deg);
    /* Rotate the button to make it hang from the left edge */
  }
  
  .collapsed .main__right {
    width: 0;
    /* Hide the right content when collapsed */
    overflow: hidden;
  }
  
  .collapsed .collapse-btn {
    transform: rotate(90deg);
    /* Rotate the button to make it point to the right when collapsed */
  }
  
  .collapsed .uncollapse-btn {
    display: block;
    /* Show the uncollapse button when collapsed */
  }
  
  .uncollapse-btn {
    position: absolute;
    top: 0;
    left: -20px;
    /* Position the button to the left of main__right */
    width: 20px;
    /* Set the width of the button */
    height: 20px;
    /* Set the height of the button */
    border: none;
    background-color: #ccc;
    cursor: pointer;
    transform: rotate(90deg);
    /* Rotate the button to make it hang from the left edge */
    display: none;
    /* Hide the button by default */
  }
  

/* #endregion */